<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <system.webServer>
        <handlers>
            <add name="py Handler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform 
        processPath="C:\inetpub\wwwroot\GitHub\sislab-django-backend\env\Scripts\python.exe" 
        arguments="C:\inetpub\wwwroot\GitHub\sislab-django-backend\manage.py runserver %HTTP_PLATFORM_PORT%" 
        stdoutLogEnabled="true" 
        stdoutLogFile="C:\inetpub\wwwroot\GitHub\sislab-django-backend\Logs"
        startupTimeLimit="60"
        processesPerApplication="16">
                <environmentVariables>
                <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
        <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()"></add>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\GitHub\sislab-django-backend"></add>
        <add key="DJANGO_SETTINGS_MODULE" value="sislab_django_api.settings"></add>
        <add key="enableSimpleMembership" value="true" />
    </appSettings>
</configuration>



